html, body{
    margin: auto;;
    margin: 0px;
}

#nav-bar{
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px;
} 

#head-ul{
    text-align: center;
    font-weight: bold;
    color: red;
}

#head-ul a{
    text-decoration: none;
    color: red;
    font-family: Arial;
}

#head-ul li{
   display: inline-block;
   margin-right: 25px;
   margin-left: 25px;
   padding-top: 15px;
   padding-bottom: 15px;  
}

#head-ul li:hover{
    color: white;
    background-color: #2B2D42;
}

#header{ 
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px; 
    padding-top: 40px;
    text-align: center;
    background-color: #2B2D42;
    height: 275px;
}

#header-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: 15px;
}

#header-text{
    font-family: "Comic Sans MS", cursive;
    color: white;
    display: inline-block;
    text-align: left;
}

#underlined-text{
    text-decoration: underline;
    color: red;
}

#header p{
    font-family: Arial;
}

#corner-text{
    float: right;
    margin-top: 243px;
    color: white;
    font-family: Arial;
    padding: 7px;
    background-color: #F2213F;
}

#corner-text:hover{
    color: #2B2D42;
    background-color: white;
    border: 1px solid #2B2D42; 
}

#content{
    margin-left: -8px;
    margin-right: -8px;
    background-color: aqua;
}

#work-experience{
    float: left;
    clear: both;
    display: inline-block;
    margin-top: 15px;
    margin-left: 200px;
}

#work-experience h3{
    font-size: 26px;
    font-family: "Comic Sans MS", cursive;
}

#main-content{
    float: right;
    margin-right: 390px;
    margin-top: 128px;
}

#below-content{
    width: 101.3%;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left:-10px !important;
}

#education{
    margin-left: 200px;
}

#education h3{
    font-size: 22px;
    font-family: "Comic Sans MS", cursive;
}

#footer{
    padding: 50px;
    margin-right: -8px;
    float: right;
    width: 100%;
    text-align: center;
    background-color: #2B2D42;
}

#contact{
    color: white;
}

#contact h3{
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Comic Sans MS", cursive;
}

#contact a{
    margin: 15px;
    color: red;
    font-size: 18px;
}

#contact h4{
    margin-top: 40px;
    font-family: Arial;
}